

<link rel="stylesheet" href="~/css/gridpuzzle/header.css"/>
<div id="puzzle-info">
    <div id="puzzle-name">
        Level 1
    </div>
    <div id="puzzle-time" class="progress">
        <label class="progress-value"><span id="puzzle-time-minute">5</span><span id="puzzle-time-sign">:</span><span id="puzzle-time-second">00</span></label>
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50%"></div>
    </div>
</div>