

<link rel="stylesheet" href="~/css/gridpuzzle/header.css"/>
<div id="puzzle-info">
    <div id="puzzle-name">
        Level <span id="puzzle-id">1</span>
    </div>
    <div id="puzzle-time" class="progress">
        <div class="progress-bar progress-bar-striped bg-secondary" style="width: 50%"><label class="progress-value"><span id="puzzle-time-minutes">5</span><span id="puzzle-time-sign">:</span><span id="puzzle-time-seconds">00</span></label></div>
    </div>
</div>

<script src="~/ts/gridpuzzle/header.js" type="module"></script>