.skipButton{
    width: 30%;
    background-color: blue;
    color: white;
    border-radius: 50%;
    padding: 6px 18px;
    border: none;
    box-shadow: 0 4px #999;
    margin:6px 2px;
    cursor: pointer ;
}
.disabled{
  background-color: #84a1df !important;
  cursor: not-allowed !important;
}