:root
{
    --primary-color-light: rgb(247, 179, 194);
    --primary-color-default: rgb(240, 155, 173);
    --primary-color-dark: rgb(214, 132, 149);

    --accent-color-light: rgb(168, 204, 248);
    --accent-color-default: rgb(112, 157, 211);
    --accent-color-dark: rgb(92, 132, 180);

    --background-color-default: rgb(231, 238, 229);

    --text-color-dark: rgb(35, 78, 95);
    --text-color-light: rgb(91, 126, 139);
}