:root
{
    --primary-color-light: rgb(16, 151, 77);
    --primary-color-default: rgb(0, 121, 54);
    --primary-color-dark: rgb(0, 92, 41);

    --accent-color-light: rgb(8, 100, 150);
    --accent-color-default: rgb(3, 82, 125);
    --accent-color-dark: rgb(0, 64, 99);

    --background-color-default: rgb(231, 238, 229);

    --text-color-dark: rgb(3, 3, 3);
    --text-color-light: rgb(244, 255, 249);

    --header-height: 60px;
    --context-menu-height: 60px;
}

body
{
    margin: 0;
    height: 100vh;
    background-color: var(--background-color-default);

    color: var(--text-color-dark);
}

header
{
    background-color: var(--primary-color-default);
    height: var(--header-height);
    color: var(--text-color-light);
}

main
{
    position: relative;
    height: calc(100% - var(--header-height));
}

#flex-container
{
    height: 100%;
    display: flex;
    flex-flow: row;
    flex-grow: 100%;
}

#flex-container > div:not(:first-child)
{
    border-style: none none none solid;
    border-color: var(--primary-color-default);
    border-width: 2px;
}

#draggable-elements-menu-container
{
    flex: 2;
}

#draggable-elements-menu-container .context-menu
{
    height: var(--context-menu-height);
}

#code-container
{
    flex: 2;
}

#code-container .context-menu
{
    height: var(--context-menu-height);
}

.context-menu
{
    background-color: var(--primary-color-light);
    color: var(--text-color-light);
}

.scrollable-menu
{
    overflow-y: auto;
    height: calc(100% - var(--context-menu-height));
}

#game-grid
{
    flex: 5;
    background-color: gray;
}

#play-button
{
    position: absolute;
    left: 42.8%;
    top: 45%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--accent-color-default);
    border-color: var(--accent-color-dark);
    border-style: solid;
    color: var(--text-color-light);
}

#play-button:hover
{
    background-color: var(--accent-color-light);
}

strong
{
    color: var(--accent-color-default);
}