:root
{


    --header-height: 60px;
    --context-menu-height: 60px;
}

body
{
    margin: 0;
    height: 100vh;
}

header
{
    background-color: red;
    height: var(--header-height);
}

main
{
    position: relative;
    height: calc(100% - var(--header-height));
}

#flex-container
{
    height: 100%;
    display: flex;
    flex-flow: row;
    flex-grow: 100%;
}

#draggable-elements-menu-container
{
    background-color: green;
    flex: 2;
}

#draggable-elements-menu-container .context-menu
{
    background-color: chocolate;
    height: var(--context-menu-height);
}

#code-container
{
    background-color: blue;
    flex: 2;
}

#code-container .context-menu
{
    background-color: firebrick;
    height: var(--context-menu-height);
}

.scrollable-menu
{
    overflow-y: auto;
    height: calc(100% - var(--context-menu-height));
}

#game-grid
{
    background-color: purple;
    flex: 3;
}

#play-button
{
    background-color: yellow;
    position: absolute;
    left: 55.5%;
    top: 45%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}