#puzzle-info
{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 80%;
    padding-bottom: 4px;
}

#puzzle-time
{
    position: relative;
    width: 100%;
    height: 20px;
    overflow: hidden;
    margin: auto;
}

#puzzle-time label
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.35);
    padding: 1px 8px 1px 8px;
    border-radius: 5px;
    color: var(--text-color-dark);
}

#puzzle-name
{
    font-weight: bold;
}