@page
@model IndexModel
@{
    ViewData["Title"] = "It's Puzzle Time!";
}

<header>
    <partial name="GridPuzzlePartials/Header"></partial>
</header>
<main>
    <div id="flex-container">
        <div id="draggable-elements-menu-container">
            <partial name="GridPuzzlePartials/DraggableElementsMenu" model="Model.DraggableElementsMenu"></partial>
        </div>
        <div id="code-container">
            <partial name="GridPuzzlePartials/CodeMenu" model="Model.CodeMenu"></partial>
        </div>
        <div id="game-grid">
            <partial name="GridPuzzlePartials/GameGrid" model="Model.GameGrid"></partial>
        </div>
    </div>
    <button id="play-button">
        F
    </button>
</main>